@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient-start: 0, 0, 0; /* Black */
  --gradient-end: 255, 192, 203; /* Pink */
}

@layer base {
  body {
    @apply min-h-screen font-sans;
    background: linear-gradient(
      to bottom,
      rgb(var(--gradient-start)),
      rgb(var(--gradient-end))
    );
    color: #fff; /* Set text color */
  }
}

@layer components {
  .connect-button,
  .import-button,
  .mint-button,
  .stake-button,
  .withdraw-button {
    @apply text-white py-2 px-4 rounded-full shadow-lg transition duration-300 ease-in-out transform;
  }

  .connect-button:hover,
  .import-button:hover,
  .mint-button:hover,
  .stake-button:hover,
  .withdraw-button:hover {
    @apply bg-blue-600;
  }

  .connect-button,
  .import-button {
    @apply bg-blue-500 mb-4;
  }

  .mint-button,
  .stake-button,
  .withdraw-button {
    @apply bg-purple-500;
  }

  .input-field {
    @apply mb-4 px-3 py-2 rounded shadow appearance-none text-black;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
}
