@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient-start: 0, 0, 0; /* Black */
  --gradient-end: 255, 192, 203; /* Pink */
}

body {
  background: linear-gradient(
      to bottom,
      rgb(var(--gradient-start)),
      rgb(var(--gradient-end))
  );
  min-height: 100vh; 
  color: rgb(var(--foreground-rgb)); /* Set text color */
  font-family: 'Inter', sans-serif; /* Set a default font, make sure to import it if needed */
}

/* Custom utility class for a vertical button */
@layer utilities {
  .button-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Full height */
    width: 50px; /* Adjust the width as needed */
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }
}

/* Additional styles for responsive layouts, animations, or other state-based styles can be added here */
